@page "{id:int}"
@model Cherepko.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rod.RodId" />
            <div class="form-group">
                <label asp-for="Rod.RodName" class="control-label"></label>
                <input asp-for="Rod.RodName" class="form-control" />
                <span asp-validation-for="Rod.RodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rod.Description" class="control-label"></label>
                <input asp-for="Rod.Description" class="form-control" />
                <span asp-validation-for="Rod.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rod.Price" class="control-label"></label>
                <input asp-for="Rod.Price" class="form-control" />
                <span asp-validation-for="Rod.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Rod.Image))
                {<img src=~/Images/@Model.Rod.Image
                      alt="NoSuchFile" width="150" />
                }
                else
                {
                    <h4>Файл изображения не задан</h4>
                }
                <div class="custom-file mt-3">
                    <input type="file" class="custom-file-input"
                           asp-for="Image" id="customFile">
                    <label class="custom-file-label" for="customFile">
                        Выберите файл изображения
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rod.RodGroupId" class="control-label"></label>
                <select asp-for="Rod.RodGroupId" class="form-control" asp-items="ViewBag.RodGroupId"></select>
                <span asp-validation-for="Rod.RodGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/bs-custom-file-input.js"></script>
    <script>
bsCustomFileInput.init();
    </script> }

